################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/laboratorio 1/.vs
/Laboratorio2/.vs/Laboratorio2
/Laboratorio3/.vs/Laboratorio3
/Laboratorio4/.vs/Laboratorio4
/Laboratorio11/.vs/Laboratorio11
/Laboratorio12-1/.vs/Laboratorio12-1
/Parcal1-2/Parcal1-2/bin/Debug/net8.0
/Parcial1/Parcial1/bin/Debug/net8.0
/Parcial1/.vs
/Laboratorio12/.vs/Laboratorio12
